//colours
$color-primary: #4D96A9;
$color-hvr-primary: #71C0D4;
$color-secondary: #855FB1;
$color-hvr-secondary: #B18BDD;
$color-neutral-dark: #28283D;
$color-neutral-light: #87879D;
$color-hl-primary: #8FE3F9;
$color-hl-secondary:#D9B8FF;
$color-background: #FAFAFA;
$color-white: #fff